Repository adrianwedd/agentic-research-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, forbid-tool-imports, link-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        additional_dependencies: []
        pass_filenames: false
        args: [--config-file, mypy.ini]
  - repo: local
    hooks:
      - id: forbid-tool-imports
        name: forbid direct tool imports
        entry: scripts/check_tool_imports.py
        language: python
        types: [python]
      - id: guidance-loss-check
        name: ensure guidance_loss present in training configs
        entry: scripts/check_guidance_loss.py
        language: python
        pass_filenames: false
        additional_dependencies: [PyYAML]
      - id: core-tests
        name: run core test suite
        entry: bash scripts/run_core_tests.sh
        language: system
        pass_filenames: false
      - id: link-check
        name: check documentation links
        entry: python scripts/link_check.py
        language: python
        pass_filenames: false
        types: [markdown]

docs: add secrets manager guidance
  CONTRIBUTING.md
Due: link-check

Log user identity on auth failures
  docs/audit/security.md
  docs/security.md
  services/tool_registry/registry.py
  tests/test_tool_registry.py
Due: mypy, forbid-tool-imports, link-check

Extend dataset curation config
  scripts/dataset_curation.py
  tests/test_dataset_curation.py
Due: mypy, forbid-tool-imports

test: validate auction mechanism adaptation
  tests/services/test_auction_service.py
Due: mypy, forbid-tool-imports

Add OpenAPI schema validation workflow
  .github/workflows/schema-validation.yml
  constraints.txt
  requirements.lock
  requirements.txt
  scripts/link_check.py
  tests/schema/test_openapi_validation.py
Due: mypy, forbid-tool-imports

feat(tools): support plugin entrypoints
  README.md
  services/tool_registry/__init__.py
  tests/test_tool_registry.py
Due: mypy, forbid-tool-imports, link-check

Add orchestrate CLI
  orchestrate
Due: none

docs: detail embedding cache env var
  docs/onboarding.md
Due: link-check

Add SkillLibrary vector store terraform module
  docs/architecture/skill_library_vector_store.md
  infra/skill_library_vector_db/README.md
  infra/skill_library_vector_db/main.tf
  infra/skill_library_vector_db/variables.tf
Due: link-check

Add snapshot query support
  agents/memory_manager.py
  services/ltm_service/api.py
  services/ltm_service/openapi_app.py
  tests/services/test_api.py
  tests/test_spatio_temporal_retrieval.py
Due: mypy, forbid-tool-imports

test: cover system monitor metrics
  tests/test_system_monitor.py
Due: mypy, forbid-tool-imports

Add SHA-256 policy decision logging
  services/policy_monitor.py
  tests/test_e2e_validation_suite.py
  tests/test_safeguard_monitor.py
Due: mypy, forbid-tool-imports

feat(tracing): span for tool constructors
  tests/test_sql_connectors.py
  tools/sql/postgres.py
  tools/sql/sqlite.py
Due: mypy, forbid-tool-imports

test: verify versioned fact retrieval
  tests/services/test_api.py
Due: mypy, forbid-tool-imports

docs: expand troubleshooting notes
  docs/onboarding.md
Due: link-check

test: cover monitor metrics
  tests/test_system_monitor.py
Due: mypy, forbid-tool-imports

Add next tasks
  tasks.yml
Due: none

Add type hints to orchestrator
  orchestrator.py
Due: mypy, forbid-tool-imports

docs: add pipeline overview
  docs/pipelines_overview.md
  mkdocs.yml
Due: link-check

Add dataset loader utility and unit tests
  tests/unit/test_dataset_loader_util.py
  tests/utils/dataset_loader.py
Due: mypy, forbid-tool-imports

feat: auto-load tool plugins
  README.md
  tests/test_tool_adapters.py
  tools/adapters.py
Due: mypy, forbid-tool-imports, link-check

Mock WebResearcher HTTP calls
  agents/base.py
  tests/test_web_researcher.py
Due: mypy, forbid-tool-imports

Expand core test suite
  pytest.ini
  scripts/run_core_tests.sh
Due: none

add new research
  .DS_Store
  docs/.DS_Store
  docs/research/Ethical AI Guardrail System_.md
  docs/research/Interactive Agent Cockpit Design_.md
  docs/research/Multi-Agent Security Research Plan_.md
Due: link-check

🛡️ Phase 1 Security Validation - Critical Vulnerability Remediation
  .claude/coordination/deployments/phase1_security_validation_20250808_120000.json
  .github/workflows/security-scan.yml
  deployment/k8s/external-secrets.yaml
  deployment/k8s/monitoring-stack.yaml
  deployment/k8s/network-policies.yaml
  deployment/security-validation-procedures.md
  services/ltm/auth.py
  services/reputation/app.py
  tools/sandbox.py
Due: mypy, forbid-tool-imports, link-check

add new research
  docs/research/Agent Introspection Toolkit Development_.md
  docs/research/Cross-Lingual Knowledge Graph Analysis_.md
  docs/research/Differential Privacy Long-Term Memory_.md
  docs/research/Multi-Modal Memory System Research_.md
Due: link-check

add TODO.md
  codex_taskify.py
Due: mypy, forbid-tool-imports

add new research
  docs/research/Adaptive Human Collaboration Models_.md
  docs/research/Automatic AI Tool Evolution Research_.md
Due: link-check

add new research
  .DS_Store
  docs/research/Agent Reputation System Deep Research_.md
  docs/research/Dynamic LLM Cost Optimization_.md
  docs/research/RAG vs Fine-tuning_ Skills_.md
  docs/research/Spatio-Temporal Memory Structure Research_.md
Due: link-check

🚀 Phase 1 Technical Validation Complete - Production Ready
  ENTERPRISE_RISK_ASSESSMENT.md
  PERFORMANCE_OPTIMIZATION_REPORT.md
  benchmarks/performance/comprehensive_benchmark.py
  benchmarks/performance/fastapi_simple_test.py
  benchmarks/performance/phase1_optimization_results.json
  benchmarks/performance/quick_vector_benchmark.py
  benchmarks/performance/simple_test.py
  coordination/deploy_monitor.sh
  coordination/executive-summary.md
  coordination/monitor_validation.py
  coordination/phase1-technical-validation.md
  coordination/strategic-decision-framework.md
  coordination/validation-tracker.json
  deployment/k8s/api-gateway.yaml
  deployment/k8s/disaster-recovery.yaml
  deployment/k8s/namespace.yaml
  deployment/k8s/secure-deployment.yaml
  deployment/pilot-integration-plan.md
  deployment/scripts/deploy-pilot.sh
  deployment/scripts/production-deploy.sh
  deployment/scripts/security-validation.sh
  deployment/terraform/pilot-infrastructure.tf
  docs/operational-runbooks.md
  docs/production-readiness-checklist.md
  services/config.py
  services/episodic_memory/app.py
  services/ltm_service/api.py
  services/ltm_service/embedding_client.py
  services/ltm_service/openapi_app.py
  services/ltm_service/persistent_storage.py
  services/ltm_service/vector_store.py
  services/reliability.py
Due: mypy, forbid-tool-imports, link-check

🛡️ Security & Deployment Infrastructure Complete
  .github/workflows/phase2-pilot-deployment.yml
  SECURITY_ASSESSMENT.md
  bandit_security_report.json
  deployment/k8s/blue-green-deployment.yaml
  deployment/k8s/business-continuity.yaml
  deployment/k8s/canary-deployment.yaml
  deployment/k8s/slo-monitoring-stack.yaml
  deployment/metrics/pilot-success-metrics.yaml
  deployment/runbooks/operational-runbooks.yaml
  docs/issues/issue-499-phase2-pilot-deployment.md
  gdpr_compliance.py
  requirements.lock
  requirements.txt
  safety_report.json
  scripts/ci_summary.py
  security_config.json
  security_middleware.py
  security_patches.py
  security_remediation_report.json
  services/config.py
  services/episodic_memory/main.py
  services/guardrail_orchestrator/main.py
  services/ltm_service/embedding_client.py
  services/ltm_service/openapi_app.py
  services/reputation/main.py
  tests/deployment/automated-validation-suite.py
  tests/deployment/test-config.yaml
  tests/test_hitl_breakpoint.py
  tests/test_task_suggestions.py
Due: mypy, forbid-tool-imports, link-check

🎯 Phase 2 Pilot Strategic Validation Framework Complete
  .claude/coordination/deployment-state.json
  .claude/coordination/deployments/issue_499_execution_summary_20250808_170000.json
  COMPREHENSIVE_ISSUE_GROOMING_REPORT.md
  deployment/k8s/pilot-business-validation.yaml
  deployment/pilot-expansion-roadmap.md
  deployment/scripts/pilot-customer-onboarding.sh
  docs/issues/issue-499-phase2-pilot-deployment.md
Due: link-check

🛡️ SOC 2 Type II Enterprise Security Implementation Complete
  .github/workflows/automated-dependency-updates.yml
  .github/workflows/dependency-security-scan.yml
  requirements.txt
  scripts/dependency_integration_manager.py
  scripts/process_critical_dependencies.py
  security-reports/critical_dependency_update_summary.json
  services/security_monitoring/integration_monitor.py
Due: mypy, forbid-tool-imports

🛡️ Comprehensive Dependency Integration & Security Remediation
  requirements.lock
Due: none

🔒 CRITICAL: Complete Pipeline Security & Deployment Restoration
  .github/workflows/cd.yml
  .github/workflows/pipeline-health-monitor.yml
  PIPELINE_RESTORATION_SUMMARY.md
  requirements.txt
  scripts/deploy.sh
Due: link-check

🛠️ CRITICAL: Complete CI/CD Pipeline Restoration & Reliability Engineering
  current_safety_scan.json
  performance_validation_results_20250808_180119.json
  services/data_governance_integration.py
  services/ltm_service/api.py
  services/performance/advanced_caching_system.py
  services/performance/connection_pool_optimizer.py
Due: mypy, forbid-tool-imports

🔐 Enterprise Security Integration & Dependency Management
  .github/workflows/comprehensive-health-monitor.yml
  .github/workflows/comprehensive-security-integration.yml
  .github/workflows/enhanced-reliability-cicd.yml
  PRODUCTION_READINESS_REPORT.md
  deployment/expansion-decision-framework.py
  deployment/metrics/pilot-kpi-collector.py
  deployment/phase2-pilot-execution-summary.md
  deployment/pilot-execution-coordinator.py
  deployment/scripts/pilot-customer-onboarding.sh
  expansion-decision.log
  orchestrix-expansion-decision-brief-20250808-195426.txt
  pilot-execution-final-report.txt
  pilot-execution.log
  pilot-kpi-collection.log
  pilot-kpi-comprehensive-report-20250808-195224.txt
  requirements-frozen.txt
  scripts/security_integration_manager.py
  services/performance/production_optimization.py
Due: mypy, forbid-tool-imports, link-check

📊 Security Integration & Dependency Management Summary
  SECURITY_INTEGRATION_SUMMARY.md
Due: link-check

💰 CI/CD Cost Optimization - 80% reduction in GitHub Actions usage
  .github/workflows/consolidated-security-scan.yml
  .github/workflows/lightweight-monitoring.yml
  .github/workflows/optimized-ci.yml
  .github/workflows/weekly-maintenance.yml
  CI_OPTIMIZATION_PLAN.md
Due: link-check
